<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    <h2>hi heroku this is muneeer</h2>
    <h1>{{pageTitle}}</h1>
    <p>{{screamIt muneer}}</p>
    {{getCurrentYear}}
  {{> footer}}
  </body>
</html>
